

<div class="modal @modalClass" role="dialog"  tabindex="-1" style="display:@modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@HeaderText</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@BodyText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public string? HeaderText { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    private string modalDisplay = "none;";
    private string modalClass = "";

    public void Show(string header, string body)
    {
        this.HeaderText = header;
        this.BodyText = body;
        modalDisplay = "block;";
        modalClass = "show";
        StateHasChanged();
    }

    private void Close()
    {
        ClearData();
    }

    private void ClearData()
    {
        HeaderText = string.Empty;
        BodyText = string.Empty;
        modalDisplay = "none;";
        modalClass = "";
    }
}
